# Archivos
__pycache__/
# Variables de entorno
.env

# Folders
Estadisticas/20*/analisis_estudiante20*
Estadisticas/20*/rendimiento20*
Estadisticas/20*/rendimiento_dummies20*
Dataset/
Datasetpicke/
Dataset/Zips/*